* {
	font-family: "Patrick Hand", cursive;
}

body {
	background-color: #d9ecbf;
	color: #3f4a4e;
}

/* Navbar */
.navbar {
	background-color: #3f4a4e;
}

/* Contenedor del formulario */
.form-container {
	background: white;
	padding: 20px;
	border-radius: 10px;
	margin-top: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Inputs, textarea, select */
input, textarea, select {
	transition: 0.3s;
}

input:focus, textarea:focus, select:focus {
	transform: scale(1.02);
}

/* Botón primario */
.btn-primary {
	background-color: #007bff;
	border-color: #007bff;
}